.page__footer{
    margin-bottom: 20px;
    border-top: 10px solid #4d4d4d;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #E84848;
    display: flex;
    flex-grow: 0;
    @media all and (min-width:768px){
        border: 10px solid #4d4d4d;
        border-radius: 0 0 70px 70px;
        width: 700px;
    }

    @media all and (min-width:1280px){
        width: 1200px;
    }
}

.footer__credits{
    font-size: 20px;
    font-weight: 700;
    color: #4d4d4d;
    &>a{
        text-decoration: none;
        color:#363636
    }
}